{% extends "usuarios/base.html" %}
{% load static %}

{% block title %}Veterinario | Pochita S.A{% endblock %}

{% block sidebar_menu %}
    <a href="#" class="menu-link is-active" data-target="sec-inicio">Inicio</a>
    <a href="#" class="menu-link" data-target="sec-consulta">Consulta actual</a>
    <a href="#" class="menu-link" data-target="sec-agenda">Agenda</a>
    <a href="#" class="menu-link" data-target="sec-historial">Historial</a>
    <a href="/" class="menu-link logout">Cerrar turno</a>
{% endblock %}

{% block dashboard_content %}
    <section id="sec-inicio" class="dashboard-section is-active">
        {% include "usuarios/veterinario/include/inicio.html" %}
    </section>

    <section id="sec-consulta" class="dashboard-section">
        {% include "usuarios/veterinario/include/consulta.html" %}
    </section>

    <section id="sec-agenda" class="dashboard-section">
        {% include "usuarios/veterinario/include/agenda.html" %}
    </section>

    <section id="sec-historial" class="dashboard-section">
        {% include "usuarios/veterinario/include/historial.html" %}
    </section>
{% endblock %}
