{% extends "core/base.html" %}

{% block title %}Contacto | Pochita S.A{% endblock %}

{% block content %}
<section class="hero small-hero">
    <div class="hero-copy">
        <div class="pill">Contacto</div>
        
        <h1>Rellenar: Titulo llamativo para la seccion</h1>
        <p>Rellenar: Aqui van a ir las formas de contacto, ubicaciones e informacion para emergencias.</p>




    </div>
</section>

<section class="grid">

    <div class="card">
        <h3>Agendar cita</h3>
        <p>Rellenar</p>
    </div>

    <div class="card">
        <h3>Urgencias 24/7</h3>
        <p>Rellenar</p>
    </div>

    <div class="card">
        <h3>Consultas generales</h3>
        <p>Rellenar</p>
    </div>

</section>
{% endblock %}
