{% extends "core/base.html" %}

{% block title %}Equipo | Pochita S.A{% endblock %}

{% block content %}
<section class="hero small-hero">
    <div class="hero-copy">
        <div class="pill">Equipo</div>

        <h1>Rellenar: Titulo llamativo para la seccion</h1>
        <p>Rellenar: Aqui van a ir perfiles, especialidades y el equipo humano.</p>



    </div>
</section>

<section class="grid">
    <div class="card">
        <h3>Medicos veterinarios</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Especialistas</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Equipo de enfermeria</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Apoyo y atencion al cliente</h3>
        <p>Rellenar</p>
    </div>
</section>
{% endblock %}
