{% extends "core/base.html" %}

{% block title %}Servicios | Pochita S.A{% endblock %}

{% block content %}
<section class="hero small-hero">
    <div class="hero-copy">
        <div class="pill">Servicios</div>

        <h1>Rellenar: Titulo llamativo para la seccion</h1>
        <p>Rellenar: Aqui van a ir los servicios de consultas, urgencias, hospitalizacion y bienestar.</p>



    </div>
</section>

<section class="grid">
    <div class="card">
        <h3>Consultas y chequeos</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Urgencias 24/7</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Hospitalizacion</h3>
        <p>Rellenar</p>
    </div>
    <div class="card">
        <h3>Bienestar y rehabilitacion</h3>
        <p>Rellenar</p>
    </div>
</section>
{% endblock %}
