{% extends "usuarios/base.html" %}
{% load static %}

{% block title %}Administrador | Pochita S.A{% endblock %}

{% block sidebar_menu %}
    <a href="#" class="menu-link is-active" data-target="sec-inicio">Inicio</a>
    <a href="#" class="menu-link" data-target="sec-usuarios">Usuarios</a>
    <a href="#" class="menu-link" data-target="sec-finanzas">Finanzas</a>
    <a href="#" class="menu-link" data-target="sec-config">Configuracion</a>
    <a href="/" class="menu-link logout">Cerrar sesion</a>
{% endblock %}

{% block dashboard_content %}
    <section id="sec-inicio" class="dashboard-section is-active">
        {% include "usuarios/administrador/include/inicio.html" %}
    </section>

    <section id="sec-usuarios" class="dashboard-section">
        {% include "usuarios/administrador/include/usuarios.html" %}
    </section>

    <section id="sec-finanzas" class="dashboard-section">
        {% include "usuarios/administrador/include/finanzas.html" %}
    </section>

    <section id="sec-config" class="dashboard-section">
        {% include "usuarios/administrador/include/configuracion.html" %}
    </section>
{% endblock %}
